@import 'variables'

.project
    margin-top: 10vh
    color: $default
    align-items: center
    justify-content: flex-end
    border-radius: 10px
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.30)

.project-header
    display: flex
    margin-top: 10px
    color: $default
    align-items: center
    width: 100%
    justify-content: flex-end

.project-details
    border-radius: 5px

.read-more
    margin-left: auto
    width: fit-content
    height: 35px
    margin-top: -36px
    margin-right: 1px
    color: $default
    transition: all 0.4s
    background-color: white
    cursor: pointer
    position: relative

.read-more:hover
    background-color: white
    color: $default
