@import 'variables'

.project
    margin-top: 10vh
    color: $white
    align-items: center
    justify-content: flex-end

.project-header
    display: flex
    margin-top: 10px
    color: $white
    align-items: center
    width: 100%
    justify-content: flex-end

.project-details
    border: 1px solid $white
    border-radius: 5px

.read-more
    border-top-left-radius: 5px
    border-bottom-right-radius: 3px
    margin-left: auto
    width: fit-content
    height: 35px
    margin-top: -36px
    margin-right: 1px
    background-color: $white
    color: white
    border-top: 1px solid white
    border-left: 1px solid white
    transition: all 0.4s
    cursor: pointer
    position: relative

.read-more:hover
    background-color: white
    border-top: 1px solid $white
    border-left: 1px solid $white
    color: $white
