@import './variables'

.header
    margin: 2%
    display: flex
    width: 100vw
    position: fixed
    color: $white
    font-size: 1.5rem
    align-items: center
    justify-content: space-between

.square
    width: 1.5em
    height: 1.5em
    background: $orange
    border-radius: 5px

.header-name
    display: flex
    align-items: center
    width: 50%

.header-links
    display: flex
    width: fit-content
    font-size: 0.7em
    justify-content: space-between
    align-items: center
    width: 30vw
    margin-right: 10%
