$orange: #ff6c6c
$white: #ff3a3a
$black: #ff
$dark-grey: #403D39
$grey: #CCC5B9
$light-grey : #403D39
$green: #8CDE7D
$yellow: #FEF251
$red: #FF4B4B


.cubano
  font-family: cubano, sans-serif
  font-weight: 400
  font-style: normal

.headline
  font-family: ff-good-headline-web-pro, sans-serif
  font-weight: 400
  font-style: normal

.eurostile
  font-family: eurostile, sans-serif
  font-weight: 400
  font-style: italic

.clickable
  transition: all 0.4s
  cursor: pointer
  margin-left: 10px
  margin-right: 10px

.clickable:hover
  color: $orange
  transform: scale(1.1)
