@import "styles/variables"

html
  overflow-x: hidden

.project-section
  margin-top: -5%
  background: white //#3a3a3a
  z-index: 100

.wave
  margin-top: -0%
  background-color: #950000

.main-container
  margin-top: 10%
  z-index: -1

.td-container
  position: relative
  margin-left: 180px
  width: 40vh
  height: 40vh

.circle-div
  border-radius: 50%
  width: 30vw
  height: 30vw

.cursor-pointer
  cursor: pointer

.cubano
  font-family: cubano, sans-serif
  font-weight: 400
  font-style: normal

.headline
  font-family: ff-good-headline-web-pro, sans-serif
  font-weight: 400
  font-style: normal

.eurostile
  font-family: eurostile, sans-serif
  font-weight: 400
  font-style: italic

.clickable
  transition: all 0.4s
  cursor: pointer
  margin-left: 10px
  margin-right: 10px

.clickable a
  font-weight: bolder
  text-decoration: none
  color: $default
  transition: all 0.4s

.clickable a:hover
  color: $hover

.clickable:hover
  color: $hover
  transform: scale(1.1)

.full-height
  height: 100vh

.default-color
  color: $default

.fade-in
  animation: fadein 0.5s

.fade-out
  animation: fadeout

.text-red
  color: $default
  font-size: 30px
  margin-bottom: -20%

@keyframes fadeout
  0%
    opacity: 1
  100%
    opacity: 0

@keyframes fadein
  0%
    opacity: 0
  100%
    opacity: 1

.design-statement-container
  z-index: 200
  background: linear-gradient(0deg, rgba(149,0,0,1) 0%, rgba(199,15,15,1) 69%, rgba(214,26,26,1) 100%)

.design-statement-container > div
  color: white
  font-size: 24px
  padding-left: 20%
  padding-right: 20%

.design-statement
  height: 50%
  display: flex
  flex-direction: column
  align-content: center
  justify-content: space-around

.design-statement > div
  margin-bottom: 5vh
  font-weight: bolder

